.btn-publish {
  grid-column: 3/4;
}

.btn-img{
  grid-column: 5/6;
  text-transform: uppercase;
}
.btn-recipe{
  margin-top: 10px;
  background: #97BC42;
  color: white;
}

.btn {
  background-color: #97BC42;
  color: #ffffff;
  font-size: 18px; 
  border: transparent;
  display: block;
  text-align: center;
  text-transform: uppercase;
  padding: 3% 14% 3% 9%;
  margin: 10%;
}

.btn-r {
  background-color: #97BC42;
  color: #ffffff;
  font-size: 18px; 
  border: transparent;
  display: block;
  text-align: center;
  text-transform: uppercase;
  padding: 3% 27% 3% 30%;
  margin: 10%;
}