body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  display: none;
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: black;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);

}

li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;

}

p {
  color: #ffffff;
  margin: 7% 7% 7% 7%;
}

p + p {
  margin: 7% 7% 7% 7%;
}

.tittle-plants-container {
  margin: 0 auto;
  color: white;
  grid-column: 2/3;
  margin-top: 20px;
  text-transform: uppercase;
}

.tittle-manhattan{
  color: white;
  margin-left: 43px;
  text-transform: uppercase;
}

.arrow-icon{
  margin-left: 43px;
}
