body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}
a ul{
  display: none;
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: black;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);

}

li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;

}

.tittle-plants-container {
  margin: 0 auto;
  color: white;
  grid-column: 2/3;
  margin-top: 20px;
}

.img-plant-home{
  max-width: 100%;
}

.tittle-plants-home {
  padding-top: 15px;
  margin: 0;
}
.fondo a {
  text-decoration: none;
  color: black;
  font-size: 13px;
}
