body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

a ul{
  display: none;
}

li {
  list-style: none;
}

li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  color: black
}

li a:active {
  background-color: #97BC42;
  color: #ffffff;
}

p {
  color: #ffffff;
  margin: 7% 7% 7% 7%;
}

p + p {
  margin: 7% 7% 7% 7%;
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
  color: black;
  
}

.arrow-icon{
  margin-left: 43px;
}

.img-plant-home{
  max-width: 100%;
}

.tittle-plants-home {
  padding-top: 15px;
  margin: 0;
  text-transform: uppercase;
}

.fondo a {
  text-decoration: none;
  color: black;
  font-size: 13px;
}

.link-plants-home{
  text-transform: uppercase;
}


.properties {
  color: #ffffff;
}

.properties-li {
  margin: 0;
	padding: 9px 0 25px 30px;
	list-style: none;
	background-image: url(../img/ul-propieties.svg);
	background-repeat: no-repeat;
	background-size: 17px;
}

.btn-img{
  grid-column: 5/6;
  text-transform: uppercase;
}

.btn-recipe{
  margin-top: 10px;
  background: #97BC42;
  color: white;
}
