.info-plants {
  background-color: #676767;
  padding-bottom:20%; 
}

.info-title {
  color: #97BC42;
  margin: 0;
  padding: 14% 0 3% 3%;
}

.properties {
  color: #ffffff;
  // list-style-image: url(../img/ul-hoja.svg);
}

.properties-li {
  margin-bottom: 4%;
}

.btn {
  background-color: #97BC42;
  color: #ffffff;
  font-size: 18px; 
  border: transparent;
  display: block;
  text-align: center;
  text-transform: uppercase;
  padding: 3% 14% 3% 9%;
  margin: 10%;
}

.btn-r {
  background-color: #97BC42;
  color: #ffffff;
  font-size: 18px; 
  border: transparent;
  display: block;
  text-align: center;
  text-transform: uppercase;
  padding: 3% 27% 3% 30%;
  margin: 10%;
}