.info-plants {
  background-color: #676767;
  padding-bottom:20%; 
}

.info-title {
  color: #97BC42;
  margin: 0;
  padding: 14% 0 3% 3%;
}

.properties {
  color: #ffffff;
}

.properties-li {
  margin: 0;
	padding: 9px 0 25px 30px;
	list-style: none;
	background-image: url(../img/ul-propieties.svg);
	background-repeat: no-repeat;
	background-size: 17px;
}


.btn {
  background-color: #97BC42;
  color: #ffffff;
  font-size: 18px; 
  border: transparent;
  display: block;
  text-align: center;
  text-transform: uppercase;
  padding: 3% 14% 3% 9%;
  margin: 10%;
}

.btn-r {
  background-color: #97BC42;
  color: #ffffff;
  font-size: 18px; 
  border: transparent;
  display: block;
  text-align: center;
  text-transform: uppercase;
  padding: 3% 27% 3% 30%;
  margin: 10%;
}