.recipe-tittle {
  color: #ffffff;
  margin: 0;
  padding: 14% 0 3% 3%;
}

.info-recipe {
  margin-bottom: 3%;
  padding-left: 8%;
}

.img-recipes {
  width: 90%;
  margin: 5%;
}

.btn-r {
  margin-top: 10px;
  background: #97BC42;
  color: white;
}

.btn-recipes{
  color: white;
  background: #97BC42;
  border: transparent;
  margin: 11% 0 0 28%;
  padding: 5%;
}

.recipe-img-kale {
  background-image: url(../../public/img/Kale-mobile.jpg);
  background-size: cover;
  padding-bottom: 10%;
}

.recipe-img-coriander {
  background-image: url(../../public/img/Cilantro-mobile.jpg);
  background-size: cover;
  padding-bottom: 10%;
}

.recipe-img-thyme {
  background-image: url(../../public/img/tomillo-mobile.jpg);
  background-size: cover;
  padding-bottom: 10%;
}


.recipe-img-spinach {
  background-image: url(../../public/img/espinaca-mobile.png);
  background-size: cover;
  padding-bottom: 10%;
}

.recipe-img-mint {
  background-image: url(../../public/img/menta-mobile.jpg);
  background-size: cover;
  padding-bottom: 10%;
}

.recipe-img-arugula {
  background-image: url(../../public/img/arugula-mobile.jpg);
  background-size: cover;
  padding-bottom: 10%;
}

.recipe-img-basil {
  background-image: url(../../public/img/albahaca-mobile.jpg);
  background-size: cover;
  padding-bottom: 10%;
}

.recipe-img-rosemary {
  background-image: url(../../public/img/romero-mobile.jpg);
  background-size: cover;
  padding-bottom: 10%;
}

.drinks-img-kale {
  background-image: url(../../public/img/KALE-DRINK-MOBILE.jpg);
  background-size: cover;
  padding-bottom: 10%;
}

.drinks-img-coriander {
  background-image: url(../../public/img/CORIANDER-DRINK-MOBILE.jpg);
  background-size: cover;
  padding-bottom: 10%;
}

.drinks-img-thyme {
  background-image: url(../../public/img/TOMILLO-BEBIDA-MOBILE.jpg);
  background-size: cover;
  padding-bottom: 10%;
}

.drinks-img-spinach {
  background-image: url(../../public/img/SPINACH-DRINK-MOBILE.jpg);
  background-size: cover;
  padding-bottom: 10%;
}

.drinks-img-mint {
  background-image: url(../../public/img/MINT-DRINK-MOBILE.jpg);
  background-size: cover;
  padding-bottom: 10%;
}

.drinks-img-arugula {
  background-image: url(../../public/img/RUCULA-DRINK-MOBILE.jpg);
  background-size: cover;
  padding-bottom: 10%;
}

.drinks-img-basil {
  background-image: url(../../public/img/BASIL-DRINK-MOBILE.jpg);
  background-size: cover;
  padding-bottom: 10%;
}

.drinks-img-rosemary {
  background-image: url(../../public/img/ROSEMARY-DRINK-MOBILE.jpg);
  background-size: cover;
  padding-bottom: 10%;
}
