.recipe-tittle {
  color: #ffffff;
  margin: 0;
  padding: 14% 0 3% 3%;
}

.info-recipe {
  margin-bottom: 3%;
  padding-left: 8%;
}

.img-recipes {
  width: 90%;
  margin: 5%;
}

.btn-r {
  margin-top: 10px;
  background: #97BC42;
  color: white;
}