.principal-tittle {
  color: white;
  text-transform: uppercase;
  grid-column: 1/5;
  grid-row: 2/3;
  text-align: center;
  padding-top: 70px;
}

.tittle-my-recipe{
  margin: 0;
  padding-top: 15px;
  grid-column: 1/5;
  text-transform: uppercase;
  color: #97BC42;
  text-align: center;
}

.space-tittle {
  grid-column: 2/7;
  margin-top: 12px;
  font-size: 16px;
}

.tittle-plants-container {
  margin: 0 auto;
  color: white;
  grid-column: 2/3;
  margin-top: 20px;
  text-transform: uppercase;
}

.tittle-manhattan{
  color: white;
  margin-left: 43px;
  text-transform: uppercase;
}

.tittle-plants {
  grid-column: 1/5;
  grid-row: 3/4;
  z-index: 100;
  color: white;
  text-align: center;
  font-size: 32px;
  text-transform: uppercase;
}

.tittle-plants-home {
  padding-top: 15px;
  margin: 0;
  text-transform: uppercase;
}

.info-title {
  color: #97BC42;
  margin: 0;
  padding: 14% 0 3% 3%;
}

.recipe-tittle-h2 {
  text-align: center;
  color: #ffffff;
  margin-top: 0;
  padding: 25% 5% 5% 5%; 
}